.navi-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: main-font-family;
  margin-top: 16px;
  width: 100%;
  z-index: 2;
}

.navbar-item.active {
  font-weight: bold;
}

.sticky-t {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-item {
  text-align: center;
  margin: 0;
  width: 160px;
}

.navbar-title {
  width: 320px;
}


